.git
.gitignore
.github
.vscode
node_modules
landing-page
META-INF
*.theme.json
*Scheme.xml
*.md
!README.md
!CHANGELOG.md
*.yml
*.yaml
build.gradle
settings.gradle
gradlew
gradlew.bat
gradle
src
color_palettes.md
theme_color_palettes.md
